.dropdown-menu {
    width: 400px;
}

.block {
    margin-top: 10px;
}

.date {
    align-items: right;
    font-size: small;

}

.img {
    max-width: 128px;
    max-height: 128px;
}

.mb-4 {
    display: inline-block;
}