{% extends 'base.html' %}
{% block content %}

<section class="hero is-medium">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="colum is-5">
                    <form method="POST" class="box p-5">
                        <div class="content" align="center"
                        <h1>Change your password</h1>
                        <br>
                        <input 
                        type="password"
                        name="newpassword" 
                        id="newpassword"
                        minlength="6"
                        class="input mb-2"
                        placeholder="New password..."
                        required
                        />
                        <input 
                        type="password"
                        name="newpassword1" 
                        id="newpassword1"
                        minlength="6"
                        class="input mb-2"
                        placeholder="Confirm new password..."
                        required
                        />
                        <button type="submit" class="button is-success" id="close">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}