{% extends 'base.html' %}
{% block content %}


{% if not user.notes %}
<div class="box">
    <h1>You don't have any diary notes! Add one!</h1>
</div>
{% else %}

{% for note in user.notes %}
    <div class="box">
        <article class="media">
            <figure class="media-left">
                <p class="image is-64x64">
                    <img src="{{ url_for('static', filename='uploads/' + note.image_file) }}"></img>
                </p>
            </figure>
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>{{user.first_name}} {{user.last_name}}</strong>
                        <br>
                        {{note.title}}
                        <br>
                        {{note.data}}
                    </p>
                </div>
            </div>
            <div class="media-right">
            <button class="delete" onClick="deleteNote({{ note.id }})"></button>
            </div>
        </article>
    </div>
{% endfor %}

{% endif %}


{% endblock %}